venv/
venv
env
secret_file.json
# Environment
.env
venv/
env/
env
*.env
env/

# Alembic migrations
alembic/versions/*.pyc
alembic/*.pyc
alembic/versions/__pycache__
script.py.mako

# Python-specific
**/__pycache__/
__pycache__/
*.py[cod]


# IDE-specific files
.vscode/
.idea/

# Logs
*.log

# Other
*.sqlite3
*.db

# upload files
uploads/
uploads/*
uploads/company_logos
uploads/company_logos/*
