fastapi
uvicorn
psycopg2-binary
sqlalchemy
alembic
fastapi-sqlalchemy
pydantic-settings
pydantic
passlib==1.7.4
python-jose
python-multipart
firebase-admin
bcrypt==4.0.1
redis
fastapi-cache2[redis]
python-dotenv
jinja2
pandas